body {
    font-family: 'Courier New', Courier, monospace;
    margin: 10px;
    font-size: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#calculator {
    border: 10px solid black;
    padding: 5px;
}

#display {
    background-color: lightgray;
    font-size: 40px;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
    height: 100px;
    padding: 10px;
    border: 2px solid gray;
}

#numberButtons {
    display: flex;
    flex-wrap: wrap;
    height: 500px;
    width: 600px;
    padding-top: 5px;
}

button {
    height: 100px;
    width: 150px;
    font-size: 30px;
}

.operator,
.equals {
    background-color: #D4CB6A;
}

.operand,
.positiveNegative,
.decimal {
    background-color: #8A458A;
}

.clearAll,
.clearEntry,
.percentage {
    background-color: #8ABD5F;
}